In [2]:
pip install pandas

Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/debugpy/_vendored/pydevd/_pydevd_bundle/pydevd_frame.py", line 987, in trace_dispatch
    self.do_wait_suspend(thread, frame, event, arg)
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/debugpy/_vendored/pydevd/_pydevd_bundle/pydevd_frame.py", line 164, in do_wait_suspend
    self._args[0].do_wait_suspend(*args, **kwargs)
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/debugpy/_vendored/pydevd/pydevd.py", line 2062, in do_wait_suspend
    keep_suspended = self._do_wait_suspend(thread, frame, event, arg, suspend_type, from_this_thread, frames_tracker)
                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/debugpy/_vendored/pydevd/pydevd.py", line 2098, in _do_wait_suspend
    time.sleep(0.01)
KeyboardInterrupt

KeyboardInterrupt:

In [3]:
import pandas as pd
import numpy as np

In [4]:
pip install seaborn

Requirement already satisfied: seaborn in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (0.12.2)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from seaborn) (1.25.1)
Requirement already satisfied: pandas>=0.25 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from seaborn) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.41.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
import seaborn as sns

In [2]:
import sqlite3

In [4]:
import datetime
from datetime import datetime
from datetime import timedelta

In [8]:
pip install openpyxl

Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [86]:
fmoistfips = pd.read_excel("/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/fuel_with_fips.xlsx")

In [87]:
wind = pd.read_csv("/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/wind_with_fips.csv")

In [88]:
tempprecip = pd.read_csv("/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/tp_zipcode_county.csv")

/var/folders/k6/pycqf6xx791cyp97r5b3jtsm0000gn/T/ipykernel_21966/2941812269.py:1: DtypeWarning: Columns (10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  tempprecip = pd.read_csv("/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/tp_zipcode_county.csv")

In [ ]:
cnx = sqlite3.connect('/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/FPA_FOD_20170508.sqlite')

query = '''
        SELECT OBJECTID, FOD_ID, FPA_ID, LOCAL_FIRE_REPORT_ID, FIRE_CODE, FIRE_NAME, FIRE_YEAR, DISCOVERY_DATE, DISCOVERY_DOY, CONT_DATE, CONT_DOY, FIRE_SIZE, FIRE_SIZE_CLASS, LATITUDE, LONGITUDE, STATE, COUNTY, FIPS_CODE, FIPS_NAME
        FROM fires
        WHERE FIRE_CODE IS NOT NULL
        '''
results = cnx.execute(query).fetchall()
cnx.close()

In [118]:
wildfire = pd.DataFrame(results, columns=['OBJECTID', 'FOD_ID', 'FPA_ID', 'LOCAL_FIRE_REPORT_ID', 'FIRE_CODE',
                                    'FIRE_NAME', 'FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_DOY', 'CONT_DATE', 'CONT_DOY', 'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE', 'LONGITUDE', 'STATE', 'COUNTY', 'FIPS_CODE', 'FIPS_NAME'])

In [174]:
fips = pd.read_csv("/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/us-state-ansi-fips.csv")

In [120]:
wildfire.head()

,OBJECTID,FOD_ID,FPA_ID,LOCAL_FIRE_REPORT_ID,FIRE_CODE,FIRE_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,CONT_DATE,CONT_DOY,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY,FIPS_CODE,FIPS_NAME
0,1,1,FS-1418826,1,BJ8K,FOUNTAIN,2005,2453403.5,33,2453403.5,33.0,0.10,A,40.036944,-121.005833,CA,63,063,Plumas
1,2,2,FS-1418827,13,AAC0,PIGEON,2004,2453137.5,133,2453137.5,133.0,0.25,A,38.933056,-120.404444,CA,61,061,Placer
2,3,3,FS-1418835,27,A32W,SLACK,2004,2453156.5,152,2453156.5,152.0,0.10,A,38.984167,-120.735556,CA,17,017,El Dorado
3,8,8,FS-1418854,3,BK5X,SLATE,2005,2453437.5,67,2453437.5,67.0,0.80,B,40.968056,-122.433889,CA,None,None,None
4,9,9,FS-1418856,5,BLPQ,SHASTA,2005,2453444.5,74,2453444.5,74.0,1.00,B,41.233611,-122.283333,CA,None,None,None

In [151]:
wildfire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324829 entries, 0 to 324828
Data columns (total 19 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   OBJECTID              324829 non-null  int64
 1   FOD_ID                324829 non-null  int64
 2   FPA_ID                324829 non-null  object
 3   LOCAL_FIRE_REPORT_ID  212258 non-null  object
 4   FIRE_CODE             324829 non-null  object
 5   FIRE_NAME             324718 non-null  object
 6   FIRE_YEAR             324829 non-null  int64
 7   DISCOVERY_DATE        324829 non-null  float64
 8   DISCOVERY_DOY         324829 non-null  int64
 9   CONT_DATE             318827 non-null  float64
 10  CONT_DOY              318827 non-null  float64
 11  FIRE_SIZE             324829 non-null  float64
 12  FIRE_SIZE_CLASS       324829 non-null  object
 13  LATITUDE              324829 non-null  float64
 14  LONGITUDE             324829 non-null  float64
 15  STATE                 324829 non-null  object
 16  COUNTY                167463 non-null  object
 17  FIPS_CODE             167463 non-null  object
 18  FIPS_NAME             167463 non-null  object
dtypes: float64(6), int64(4), object(9)
memory usage: 47.1+ MB

In [18]:
fips.head()

       stname   st  stusps
0     Alabama    1      AL
1      Alaska    2      AK
2     Arizona    4      AZ
3    Arkansas    5      AR
4  California    6      CA

In [19]:
fips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   stname   51 non-null     object
 1    st      51 non-null     int64
 2    stusps  51 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.3+ KB

In [20]:
fips.iloc[1 ,2]

' AK'

In [175]:
fips.to_string()

'                  stname   st  stusps\n0                Alabama    1      AL\n1                 Alaska    2      AK\n2                Arizona    4      AZ\n3               Arkansas    5      AR\n4             California    6      CA\n5               Colorado    8      CO\n6            Connecticut    9      CT\n7               Delaware   10      DE\n8   District of Columbia   11      DC\n9                Florida   12      FL\n10               Georgia   13      GA\n11                Hawaii   15      HI\n12                 Idaho   16      ID\n13              Illinois   17      IL\n14               Indiana   18      IN\n15                  Iowa   19      IA\n16                Kansas   20      KS\n17              Kentucky   21      KY\n18             Louisiana   22      LA\n19                 Maine   23      ME\n20              Maryland   24      MD\n21         Massachusetts   25      MA\n22              Michigan   26      MI\n23             Minnesota   27      MN\n24           Mississippi   28      MS\n25              Missouri   29      MO\n26               Montana   30      MT\n27              Nebraska   31      NE\n28                Nevada   32      NV\n29         New Hampshire   33      NH\n30            New Jersey   34      NJ\n31            New Mexico   35      NM\n32              New York   36      NY\n33        North Carolina   37      NC\n34          North Dakota   38      ND\n35                  Ohio   39      OH\n36              Oklahoma   40      OK\n37                Oregon   41      OR\n38          Pennsylvania   42      PA\n39          Rhode Island   44      RI\n40        South Carolina   45      SC\n41          South Dakota   46      SD\n42             Tennessee   47      TN\n43                 Texas   48      TX\n44                  Utah   49      UT\n45               Vermont   50      VT\n46              Virginia   51      VA\n47            Washington   53      WA\n48         West Virginia   54      WV\n49             Wisconsin   55      WI\n50               Wyoming   56      WY'

In [176]:
wildfire["STATE"] = " "+wildfire["STATE"]

In [177]:
for i in range(0, len(fips)):
    wildfire["STATE"].replace(fips.iloc[i ,2], fips.iloc[i ,1], inplace=True)

In [178]:
wildfire["STATE"] = wildfire["STATE"].astype("string")

In [179]:
wildfire["FIPS_CODE"] = wildfire["FIPS_CODE"].astype("string")

In [180]:
wildfire["FIPS"] = wildfire.STATE + wildfire.FIPS_CODE

In [163]:
wildfire["START_DATE"] = 0

In [164]:
wildfire["END_DATE"] = 0

In [187]:
wildfire.head()

,OBJECTID,FOD_ID,FPA_ID,LOCAL_FIRE_REPORT_ID,FIRE_CODE,FIRE_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,CONT_DATE,...,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY,FIPS_CODE,START_DATE,END_DATE,FIPS
0,1,1,FS-1418826,1,BJ8K,FOUNTAIN,2005,2453403.5,33,2453403.5,...,0.10,A,40.036944,-121.005833,6,63,063,2005-02-02,2005-02-02,6063
1,2,2,FS-1418827,13,AAC0,PIGEON,2004,2453137.5,133,2453137.5,...,0.25,A,38.933056,-120.404444,6,61,061,2004-05-12,2004-05-12,6061
2,3,3,FS-1418835,27,A32W,SLACK,2004,2453156.5,152,2453156.5,...,0.10,A,38.984167,-120.735556,6,17,017,2004-05-31,2004-05-31,6017
3,8,8,FS-1418854,3,BK5X,SLATE,2005,2453437.5,67,2453437.5,...,0.80,B,40.968056,-122.433889,6,None,<NA>,2005-03-08,2005-03-08,<NA>
4,9,9,FS-1418856,5,BLPQ,SHASTA,2005,2453444.5,74,2453444.5,...,1.00,B,41.233611,-122.283333,6,None,<NA>,2005-03-15,2005-03-15,<NA>

In [166]:
wildfire["START_DATE"] = wildfire["FIPS_NAME"]

In [168]:
wildfire.drop("FIPS_NAME", axis=1, inplace=True)

In [159]:
wildfire["DISCOVERY_DOY"] = wildfire["DISCOVERY_DOY"].astype("string")

In [160]:
wildfire["FIRE_YEAR"] = wildfire["FIRE_YEAR"].astype("string")

In [161]:
for i in range(0, len(wildfire)):
    wildfire.iloc[i, 18] = datetime.strptime(wildfire.iloc[i, 6] + "-" + wildfire.iloc[i, 8], "%Y-%j").strftime("%Y-%m-%d")

In [171]:
for i in range(0, len(wildfire)):
    wildfire.iloc[i, 19] = datetime.strptime(wildfire.iloc[i, 6] + "-" + wildfire.iloc[i, 10], "%Y-%j").strftime("%Y-%m-%d")

In [157]:
for i in range(0, len(wildfire)):
    if(wildfire.iloc[i, 10] == 0):
        wildfire.iloc[i, 10]=wildfire.iloc[i, 8]

In [158]:
wildfire["CONT_DOY"].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
324824    False
324825    False
324826    False
324827    False
324828    False
Name: CONT_DOY, Length: 324829, dtype: bool

In [156]:
wildfire["CONT_DOY"] = pd.to_numeric(wildfire["CONT_DOY"], errors='coerce').fillna(0).astype(int)

In [162]:
wildfire["CONT_DOY"] = wildfire["CONT_DOY"].astype("string")

In [389]:
wildfire.head(20)

,OBJECTID,FOD_ID,FPA_ID,LOCAL_FIRE_REPORT_ID,FIRE_CODE,FIRE_NAME,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,CONT_DATE,...,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY,FIPS_CODE,START_DATE,END_DATE,FIPS
0,1,1,FS-1418826,1,BJ8K,FOUNTAIN,2005,20050202.0,33,2453403.5,...,0.10,A,40.036944,-121.005833,6,63,063,2005-02-02,2005-02-02,6063
1,2,2,FS-1418827,13,AAC0,PIGEON,2004,20040512.0,133,2453137.5,...,0.25,A,38.933056,-120.404444,6,61,061,2004-05-12,2004-05-12,6061
2,3,3,FS-1418835,27,A32W,SLACK,2004,20040531.0,152,2453156.5,...,0.10,A,38.984167,-120.735556,6,17,017,2004-05-31,2004-05-31,6017
3,8,8,FS-1418854,3,BK5X,SLATE,2005,20050308.0,67,2453437.5,...,0.80,B,40.968056,-122.433889,6,None,<NA>,2005-03-08,2005-03-08,<NA>
4,9,9,FS-1418856,5,BLPQ,SHASTA,2005,20050315.0,74,2453444.5,...,1.00,B,41.233611,-122.283333,6,None,<NA>,2005-03-15,2005-03-15,<NA>
5,17,17,FS-1418878,109,,POWER,2004,2453284.5,280,2453299.5,...,16823.00,G,38.523333,-120.211667,6,5,005,2004-10-06,2004-10-21,6005
6,18,18,FS-1418881,111,BHA3,FREDS,2004,2453291.5,287,2453295.5,...,7700.00,G,38.780000,-120.260000,6,17,017,2004-10-13,2004-10-17,6017
7,20,20,FS-1418887,8,AVPA,SPRING,2004,2453160.5,156,2453160.5,...,0.10,A,33.440833,-105.720556,35,27,027,2004-06-04,2004-06-04,35027
8,21,21,FS-1418888,12,A49Y,ANGRY,2004,2453175.5,171,2453175.5,...,0.10,A,33.307222,-105.628611,35,27,027,2004-06-19,2004-06-19,35027
9,22,22,FS-1418893,13,A5DG,DARK,2004,2453177.5,173,2453178.5,...,0.10,A,33.444444,-105.768056,35,27,027,2004-06-21,2004-06-22,35027
10,23,23,FS-1418894,16,AVP4,CHURCH #2,2004,2453181.5,177,2453182.5,...,0.10,A,33.559444,-105.766111,35,27,027,2004-06-25,2004-06-26,35027
11,24,24,FS-1418895,19,AVP4,PINE CONE,2004,2453187.5,183,2453188.5,...,0.25,A,33.308056,-105.526111,35,27,027,2004-07-01,2004-07-02,35027
12,25,25,FS-1418896,20,AVP4,EAGLE,2004,2453187.5,183,2453192.5,...,2.50,B,33.545278,-105.229444,35,27,027,2004-07-01,2004-07-06,35027
13,26,26,FS-1418897,22,AVP4,BACHELOR,2004,2453206.5,202,2453206.5,...,10.00,C,33.315833,-105.512222,35,27,027,2004-07-20,2004-07-20,35027
14,27,27,FS-1418898,31,A0SY,SONTERRA,2004,2453082.5,78,2453082.5,...,8.20,B,33.444444,-105.631111,35,27,027,2004-03-18,2004-03-18,35027
15,28,28,FS-1418903,26,AVP4,PEPPER,2004,2453222.5,218,2453222.5,...,0.10,A,33.368056,-105.507222,35,27,027,2004-08-05,2004-08-05,35027
16,29,29,FS-1418904,33,A0TF,120A,2004,2453082.5,78,2453082.5,...,0.25,A,33.385278,-105.638611,35,27,027,2004-03-18,2004-03-18,35027
17,30,30,FS-1418905,36,A3B1,MUSKETBURN,2004,2453136.5,132,2453136.5,...,0.25,A,33.382778,-105.700278,35,27,027,2004-05-11,2004-05-11,35027
18,31,31,FS-1418906,37,A49X,OREGON,2004,2453175.5,171,2453175.5,...,0.10,A,33.379722,-105.680278,35,27,027,2004-06-19,2004-06-19,35027
19,32,32,FS-1418907,1,BJ9H,0028,2005,2453406.5,36,2453407.5,...,0.10,A,43.995556,-121.414167,41,17,017,2005-02-05,2005-02-06,41017

In [223]:
wildfire0.to_csv('/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/updated_wildfire.csv', index=False)

In [121]:
wildfire0 = pd.read_csv("Wildfire/Datasets/updated_wildfire.csv")

/var/folders/k6/pycqf6xx791cyp97r5b3jtsm0000gn/T/ipykernel_21966/3341524282.py:1: DtypeWarning: Columns (15,16,20) have mixed types. Specify dtype option on import or set low_memory=False.
  wildfire0 = pd.read_csv("Wildfire/Datasets/updated_wildfire.csv")

In [128]:
wildfire0.head(20)

,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,START_DATE,END_DATE,FIPS,DATE
0,0.10,A,40.036944,-121.005833,6,20050202,20050202,6063.0,20050202
1,0.25,A,38.933056,-120.404444,6,20040512,20040512,6061.0,20040512
2,0.10,A,38.984167,-120.735556,6,20040531,20040531,6017.0,20040531
3,0.80,B,40.968056,-122.433889,6,20050308,20050308,NaN,20050308
4,1.00,B,41.233611,-122.283333,6,20050315,20050315,NaN,20050315
5,16823.00,G,38.523333,-120.211667,6,20041006,20041021,6005.0,20041006
6,7700.00,G,38.780000,-120.260000,6,20041013,20041017,6017.0,20041013
7,0.10,A,33.440833,-105.720556,35,20040604,20040604,35027.0,20040604
8,0.10,A,33.307222,-105.628611,35,20040619,20040619,35027.0,20040619
9,0.10,A,33.444444,-105.768056,35,20040621,20040622,35027.0,20040621
10,0.10,A,33.559444,-105.766111,35,20040625,20040626,35027.0,20040625
11,0.25,A,33.308056,-105.526111,35,20040701,20040702,35027.0,20040701
12,2.50,B,33.545278,-105.229444,35,20040701,20040706,35027.0,20040701
13,10.00,C,33.315833,-105.512222,35,20040720,20040720,35027.0,20040720
14,8.20,B,33.444444,-105.631111,35,20040318,20040318,35027.0,20040318
15,0.10,A,33.368056,-105.507222,35,20040805,20040805,35027.0,20040805
16,0.25,A,33.385278,-105.638611,35,20040318,20040318,35027.0,20040318
17,0.25,A,33.382778,-105.700278,35,20040511,20040511,35027.0,20040511
18,0.10,A,33.379722,-105.680278,35,20040619,20040619,35027.0,20040619
19,0.10,A,43.995556,-121.414167,41,20050205,20050206,41017.0,20050205

In [129]:
import pandas as pd

def filter_dataframe_by_value(df, column_name, value_to_find):
    filtered_rows = df[df[column_name] == value_to_find]
    return filtered_rows

if __name__ == "__main__":


    # Create a new DataFrame containing only rows with the specific value
    new_df = filter_dataframe_by_value(wildfire0, 'STATE', 6)

In [132]:
new_df.dropna(inplace=True)

/var/folders/k6/pycqf6xx791cyp97r5b3jtsm0000gn/T/ipykernel_21966/1925939579.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.dropna(inplace=True)

In [133]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22461 entries, 0 to 186077
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FIRE_SIZE        22461 non-null  float64
 1   FIRE_SIZE_CLASS  22461 non-null  object
 2   LATITUDE         22461 non-null  float64
 3   LONGITUDE        22461 non-null  float64
 4   STATE            22461 non-null  object
 5   START_DATE       22461 non-null  int64
 6   END_DATE         22461 non-null  int64
 7   FIPS             22461 non-null  object
 8   DATE             22461 non-null  int64
dtypes: float64(3), int64(3), object(3)
memory usage: 1.7+ MB

In [134]:
new_df.to_csv('/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/updated_wildfire_CA.csv', index=False)

In [23]:

wildfire0.head(-240)

,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,START_DATE,END_DATE,FIPS,DATE
0,0.1000,A,40.036944,-121.005833,20050202,20050202,6063.0,20050202
1,0.2500,A,38.933056,-120.404444,20040512,20040512,6061.0,20040512
2,0.1000,A,38.984167,-120.735556,20040531,20040531,6017.0,20040531
3,0.8000,B,40.968056,-122.433889,20050308,20050308,NaN,20050308
4,1.0000,B,41.233611,-122.283333,20050315,20050315,NaN,20050315
...,...,...,...,...,...,...,...,...
324833,1051.4375,G,38.523333,-120.211667,20041006,20041021,6005.0,20041010
324834,1051.4375,G,38.523333,-120.211667,20041006,20041021,6005.0,20041011
324835,1051.4375,G,38.523333,-120.211667,20041006,20041021,6005.0,20041012
324836,1051.4375,G,38.523333,-120.211667,20041006,20041021,6005.0,20041013
324837,1051.4375,G,38.523333,-120.211667,20041006,20041021,6005.0,20041014

In [520]:
for i in range(0, 5):
    wildfire0.loc[len(wildfire0.index)] = [0, 0, 0, 0, 0, 0, 0, 0]

In [139]:
wildfire0 = pd.read_csv("Wildfire/Datasets/updated_wildfire_CA.csv")

In [140]:
wildfire0.sort_values(["DATE"]).sort_values(["FIPS"]).to_csv('/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/sorted_wildfire_CA.csv', index=False)

In [141]:
wildfire0 = pd.read_csv("Wildfire/Datasets/sorted_wildfire_CA.csv")

In [143]:
wildfire0.head(30)

,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,START_DATE,END_DATE,FIPS,DATE
0,0.1,A,37.595869,-121.886400,6,20070321,20070321,6001.0,20070321
1,1.0,B,37.592650,-121.884728,6,20050606,20050606,6001.0,20050606
2,1.0,B,37.599531,-121.886981,6,20030808,20030808,6001.0,20030808
3,0.1,A,37.599531,-121.886981,6,20010609,20010609,6001.0,20010609
4,0.5,B,37.593561,-121.891400,6,20060716,20060716,6001.0,20060716
5,0.2,A,37.599531,-121.886981,6,20020501,20020501,6001.0,20020501
6,0.1,A,37.599669,-121.923561,6,19990705,19990705,6001.0,19990705
7,1.0,B,37.597914,-121.927236,6,20060801,20060801,6001.0,20060801
8,0.1,A,37.599489,-121.905261,6,20020821,20020821,6001.0,20020821
9,0.3,B,37.584989,-121.886869,6,19991016,19991016,6001.0,19991016
10,0.1,A,37.592608,-121.884700,6,20070623,20070623,6001.0,20070623
11,0.1,A,37.599669,-121.923561,6,20030824,20030824,6001.0,20030824
12,10.0,C,37.672539,-121.760431,6,20040530,20040530,6001.0,20040530
13,1.0,B,37.665119,-121.732900,6,20050807,20050807,6001.0,20050807
14,0.1,A,37.599489,-121.905261,6,20040813,20040813,6001.0,20040813
15,0.1,A,37.597497,-121.880572,6,20050906,20050906,6001.0,20050906
16,0.1,A,37.597497,-121.880572,6,20050906,20050906,6001.0,20050906
17,0.1,A,37.665119,-121.732900,6,20060626,20060626,6001.0,20060626
18,0.1,A,37.599669,-121.923561,6,19980719,19980719,6001.0,19980719
19,0.1,A,37.599531,-121.886981,6,20010618,20010618,6001.0,20010618
20,0.1,A,37.599531,-121.886981,6,20030725,20030725,6001.0,20030725
21,0.1,A,37.595778,-121.889683,6,20051106,20051106,6001.0,20051106
22,0.1,A,37.594400,-121.888800,6,20061031,20061031,6001.0,20061031
23,0.1,A,38.792700,-119.755200,6,20000816,20000816,6003.0,20000816
24,216.0,D,38.765278,-119.933333,6,20080831,20080905,6003.0,20080831
25,0.1,A,38.653889,-119.724167,6,20060828,20060828,6003.0,20060828
26,0.1,A,38.643333,-119.790556,6,20090913,20090913,6003.0,20090913
27,0.1,A,38.436944,-119.987778,6,20060728,20060729,6003.0,20060728
28,0.1,A,38.644167,-119.794444,6,20090913,20090914,6003.0,20090913
29,0.1,A,38.736389,-119.949444,6,20090728,20090728,6003.0,20090728

In [146]:
wildfire0.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20369 entries, 0 to 22460
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FIRE_SIZE        20369 non-null  float64
 1   FIRE_SIZE_CLASS  20369 non-null  object
 2   LATITUDE         20369 non-null  float64
 3   LONGITUDE        20369 non-null  float64
 4   STATE            20369 non-null  int64
 5   START_DATE       20369 non-null  int64
 6   END_DATE         20369 non-null  int64
 7   FIPS             20369 non-null  float64
 8   DATE             20369 non-null  int64
dtypes: float64(4), int64(4), object(1)
memory usage: 1.6+ MB

In [145]:
def merge_rows_if_same_value(df, column1, column2, column_to_sum):
    to_merge = []
    prev_value1, prev_value2 = None, None

    for index, row in df.iterrows():
        current_value1, current_value2 = row[column1], row[column2]

        if prev_value1 is not None and prev_value1 == current_value1 and prev_value2 == current_value2:
            df.at[to_merge[-1], column_to_sum] += row[column_to_sum]
            df.drop(index, inplace=True)
        else:
            to_merge.append(index)

        prev_value1, prev_value2 = current_value1, current_value2

if __name__ == "__main__":
    # Sample DataFrame (replace this with your actual DataFrame)


    merge_rows_if_same_value(wildfire0, 'FIPS', 'DATE', 'FIRE_SIZE')

In [147]:
wildfire0.to_csv('/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/aggregated_wildfire_CA.csv', index=False)

In [37]:
wildfire0.info()
324829

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070458 entries, 0 to 1070457
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   FIRE_SIZE        1070458 non-null  float64
 1   FIRE_SIZE_CLASS  1070458 non-null  object
 2   LATITUDE         1070458 non-null  float64
 3   LONGITUDE        1070458 non-null  float64
 4   START_DATE       1070458 non-null  int64
 5   END_DATE         1070458 non-null  int64
 6   FIPS             601597 non-null   object
 7   DATE             1070458 non-null  int64
dtypes: float64(3), int64(3), object(2)
memory usage: 65.3+ MB

324829

In [427]:
wildfire0.iloc[5, 5]

20040604

In [430]:
wildfire0.iloc[5, 4]

20041013

In [436]:
(datetime.strptime(str(wildfire0.iloc[5, 5]),"%Y%m%d") - datetime.strptime(str(wildfire0.iloc[5, 4]),"%Y%m%d")).total_seconds()/86400

4.0

In [455]:
td = (datetime.strptime("20061023","%Y%m%d") - datetime.strptime("20061022","%Y%m%d"))

In [469]:
end_date = (str((datetime.strptime(str(wildfire0.iloc[i, 5]),"%Y%m%d") + timedelta(days = j))))
end_date = end_date.split(" ")
datetime.strptime(end_date[0], "%Y-%m-%d").strftime("%Y%m%d")

'2005-09-21'

In [433]:
td.total_seconds()/86400

4.0

In [123]:
wildfire0.drop("OBJECTID", axis=1, inplace=True)
wildfire0.drop("FOD_ID", axis=1, inplace=True)
wildfire0.drop("FPA_ID", axis=1, inplace=True)
wildfire0.drop("LOCAL_FIRE_REPORT_ID", axis=1, inplace=True)
wildfire0.drop("FIRE_CODE", axis=1, inplace=True)
wildfire0.drop("FIRE_NAME", axis=1, inplace=True)
wildfire0.drop("FIRE_YEAR", axis=1, inplace=True)
wildfire0.drop("DISCOVERY_DATE", axis=1, inplace=True)
wildfire0.drop("DISCOVERY_DOY", axis=1, inplace=True)
wildfire0.drop("CONT_DATE", axis=1, inplace=True)
wildfire0.drop("CONT_DOY", axis=1, inplace=True)
wildfire0.drop("COUNTY", axis=1, inplace=True)
wildfire0.drop("FIPS_CODE", axis=1, inplace=True)
wildfire0["DATE"] = wildfire0["START_DATE"]

In [221]:
for i in range(0, len(wildfire0)):
        wildfire0.iloc[i, 18] = int(datetime.strptime(wildfire0.iloc[i, 18],"%Y-%m-%d").strftime("%Y%m%d"))
        wildfire0.iloc[i, 19] = int(datetime.strptime(wildfire0.iloc[i, 19],"%Y-%m-%d").strftime("%Y%m%d"))

In [532]:
print(wildfire0.iloc[1, 5] - wildfire0.iloc[1, 4])

0

In [ ]:
wildfire0.concat([pd.DataFrame([firesizeaverage, wildfire0.iloc[i, 1], wildfire0.iloc[i, 2], wildfire0.iloc[i, 3], wildfire0.iloc[i, 4], wildfire0.iloc[i, 5], wildfire0.iloc[i, 6], int(datetime.strptime(end_date[0], "%Y-%m-%d").strftime("%Y%m%d"))], columns=['FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE', 'LONGITUDE', 'START_DATE', 'END_DATE', 'FIPS', 'DATE'])]

In [33]:

for i in range(0, 324829):
    if(wildfire0.iloc[i, 5] - wildfire0.iloc[i, 4] != 0):
        firesizeaverage = wildfire0.iloc[i, 0] / (np.abs(int((datetime.strptime(str(wildfire0.iloc[i, 5]),"%Y%m%d") - datetime.strptime(str(wildfire0.iloc[i, 4]),"%Y%m%d")).total_seconds()/86400))+1)
        for j in range(0, int((datetime.strptime(str(wildfire0.iloc[i, 5]),"%Y%m%d") - datetime.strptime(str(wildfire0.iloc[i, 4]),"%Y%m%d")).total_seconds()/86400)+1):
            end_date = (str((datetime.strptime(str(wildfire0.iloc[i, 4]),"%Y%m%d") + timedelta(days = j))))
            end_date = end_date.split(" ")
            wildfire0.loc[len(wildfire0.index)] = [firesizeaverage, wildfire0.iloc[i, 1], wildfire0.iloc[i, 2], wildfire0.iloc[i, 3], wildfire0.iloc[i, 4], wildfire0.iloc[i, 5], wildfire0.iloc[i, 6], int(datetime.strptime(end_date[0], "%Y-%m-%d").strftime("%Y%m%d"))]

In [48]:
length=324829
j=0
i = 0
while (i<length):
    if(wildfire0.iloc[i, 5] - wildfire0.iloc[i, 4] != 0):
        wildfire0.drop(i+j, inplace=True)
        i = i-1
        j = j+1
        length = length - 1
    i = i + 1

In [49]:
wildfire0.to_csv('/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/updated_wildfire3.csv', index=False)

In [64]:
wildfire1 = pd.read_csv("Wildfire/Datasets/updated_wildfire4.csv")

/var/folders/k6/pycqf6xx791cyp97r5b3jtsm0000gn/T/ipykernel_21966/2646327104.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  wildfire1 = pd.read_csv("Wildfire/Datasets/updated_wildfire4.csv")

In [63]:
wildfire1.to_csv('/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/updated_wildfire4.csv', index=False)

In [67]:
wildfire1.head(10)

,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,START_DATE,END_DATE,FIPS,DATE
0,0.10,A,40.036944,-121.005833,20050202,20050202,6063.0,20050202
1,0.25,A,38.933056,-120.404444,20040512,20040512,6061.0,20040512
2,0.10,A,38.984167,-120.735556,20040531,20040531,6017.0,20040531
3,0.10,A,33.440833,-105.720556,20040604,20040604,35027.0,20040604
4,0.10,A,33.307222,-105.628611,20040619,20040619,35027.0,20040619
5,10.00,C,33.315833,-105.512222,20040720,20040720,35027.0,20040720
6,8.20,B,33.444444,-105.631111,20040318,20040318,35027.0,20040318
7,0.10,A,33.368056,-105.507222,20040805,20040805,35027.0,20040805
8,0.25,A,33.385278,-105.638611,20040318,20040318,35027.0,20040318
9,0.25,A,33.382778,-105.700278,20040511,20040511,35027.0,20040511

In [62]:
wildfire1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 536059 entries, 0 to 960648
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   FIRE_SIZE        536059 non-null  float64
 1   FIRE_SIZE_CLASS  536059 non-null  object
 2   LATITUDE         536059 non-null  float64
 3   LONGITUDE        536059 non-null  float64
 4   START_DATE       536059 non-null  int64
 5   END_DATE         536059 non-null  int64
 6   FIPS             536059 non-null  object
 7   DATE             536059 non-null  int64
dtypes: float64(3), int64(3), object(2)
memory usage: 36.8+ MB

In [66]:
wildfire1["FIPS"] = wildfire1["FIPS"].astype("string")

In [70]:
wildfire1.sort_values(["DATE"]).sort_values(["FIPS"]).to_csv('/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/sorted_wildfire.csv', index=False)

In [77]:
wildfire2 = pd.read_csv("Wildfire/Datasets/sorted_wildfire.csv")

/var/folders/k6/pycqf6xx791cyp97r5b3jtsm0000gn/T/ipykernel_21966/3995848466.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  wildfire2 = pd.read_csv("Wildfire/Datasets/sorted_wildfire.csv")

In [81]:
wildfire2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 487106 entries, 0 to 536058
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   FIRE_SIZE        487106 non-null  float64
 1   FIRE_SIZE_CLASS  487106 non-null  object
 2   LATITUDE         487106 non-null  float64
 3   LONGITUDE        487106 non-null  float64
 4   START_DATE       487106 non-null  int64
 5   END_DATE         487106 non-null  int64
 6   FIPS             487106 non-null  object
 7   DATE             487106 non-null  int64
dtypes: float64(3), int64(3), object(2)
memory usage: 33.4+ MB

In [78]:
def merge_rows_if_same_value(df, column1, column2, column_to_sum):
    to_merge = []
    prev_value1, prev_value2 = None, None

    for index, row in df.iterrows():
        current_value1, current_value2 = row[column1], row[column2]

        if prev_value1 is not None and prev_value1 == current_value1 and prev_value2 == current_value2:
            df.at[to_merge[-1], column_to_sum] += row[column_to_sum]
            df.drop(index, inplace=True)
        else:
            to_merge.append(index)

        prev_value1, prev_value2 = current_value1, current_value2

if __name__ == "__main__":
    # Sample DataFrame (replace this with your actual DataFrame)


    merge_rows_if_same_value(wildfire2, 'FIPS', 'DATE', 'FIRE_SIZE')

In [79]:
wildfire2.to_csv('/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/aggregated_wildfire.csv', index=False)

In [106]:
wildfire3 = pd.read_csv("Wildfire/Datasets/aggregated_wildfire.csv")

In [105]:
wildfire3.to_csv('/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/aggregated_wildfire.csv', index=False)

In [111]:
wildfire3.head(7000)

,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp
0,3.600000,C,30.244383,-87.806450,20150522,20150526,1003.0,20150526,0,0,0,0
1,3.600000,C,30.244383,-87.806450,20150522,20150526,1003.0,20150522,0,0,0,0
2,3.600000,C,30.244383,-87.806450,20150522,20150526,1003.0,20150523,0,0,0,0
3,3.600000,C,30.244383,-87.806450,20150522,20150526,1003.0,20150524,0,0,0,0
4,3.600000,C,30.244383,-87.806450,20150522,20150526,1003.0,20150525,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
6995,1.666667,B,34.936944,-83.166389,20100228,20100302,13241.0,20100228,0,0,0,0
6996,0.600000,B,34.818889,-83.421667,20040423,20040423,13241.0,20040423,0,0,0,0
6997,0.010000,A,34.621667,-83.531111,20061105,20061105,13241.0,20061105,0,0,0,0
6998,10.840000,C,34.991111,-83.488889,20080618,20080622,13241.0,20080621,0,0,0,0
6999,0.100000,A,34.915000,-83.404444,20001025,20001026,13241.0,20001026,0,0,0,0

In [102]:
def convert_to_float64_and_drop_unconvertible(df, column_name):
    try:
        df[column_name] = pd.to_numeric(df[column_name], errors='coerce').astype('float64')
        df.dropna(subset=[column_name], inplace=True)
    except KeyError:
        print(f"The column '{column_name}' does not exist in the DataFrame.")
    except ValueError:
        print(f"Could not convert all elements in the column '{column_name}' to float64.")

if __name__ == "__main__":
    # Replace 'your_file.csv' with the path to your CSV file
    file_path = 'your_file.csv'

    # Replace 'your_column_name' with the column name you want to convert
    column_name_to_convert = 'your_column_name'

    # Read the CSV into a DataFrame
    df = wildfire3



    convert_to_float64_and_drop_unconvertible(df, 'FIPS')

In [108]:
wildfire3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 486994 entries, 0 to 486993
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   FIRE_SIZE        486994 non-null  float64
 1   FIRE_SIZE_CLASS  486994 non-null  object
 2   LATITUDE         486994 non-null  float64
 3   LONGITUDE        486994 non-null  float64
 4   START_DATE       486994 non-null  int64
 5   END_DATE         486994 non-null  int64
 6   FIPS             486994 non-null  float64
 7   DATE             486994 non-null  int64
 8   tmax             486994 non-null  int64
 9   tmin             486994 non-null  int64
 10  tavg             486994 non-null  int64
 11  prcp             486994 non-null  int64
dtypes: float64(4), int64(7), object(1)
memory usage: 44.6+ MB

In [89]:
fmoistfips.head()

,Unnamed: 0,date,percent,latitude,longitude,state,zipcode,county,fips
0,0,1977-04-14,203.0,37.489,-122.319,CA,94002,San Mateo County,6081
1,1,1977-04-14,176.0,37.245,-122.110,CA,95070,Santa Clara County,6085
2,2,1977-04-15,96.0,37.004,-121.816,CA,95003,Santa Cruz County,6087
3,3,1977-05-03,177.0,37.004,-121.816,CA,95003,Santa Cruz County,6087
4,4,1977-05-05,166.0,37.489,-122.319,CA,94002,San Mateo County,6081

In [91]:
fmoistfips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67172 entries, 0 to 67171
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  67172 non-null  int64
 1   date        67172 non-null  datetime64[ns]
 2   percent     67172 non-null  float64
 3   latitude    67172 non-null  float64
 4   longitude   67172 non-null  float64
 5   state       67172 non-null  object
 6   zipcode     67172 non-null  int64
 7   county      67172 non-null  object
 8   fips        67172 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(2)
memory usage: 4.6+ MB

In [115]:
def merge_dataframes_on_match(df1, df2, df1_column1, df1_column2, df2_column1, df2_column2, df2_column_to_sum1, df2_column_to_sum2, df2_column_to_sum3, df2_column_to_sum4):
    for index1, row1 in df1.iterrows():
        print(index1)
        for index2, row2 in df2.iterrows():
            if row1[df1_column1] == row2[df2_column1] and row1[df1_column2] == row2[df2_column2]:
                df1.at[index1, 'tmax'] += row2[df2_column_to_sum1]
                df1.at[index1, 'tmin'] += row2[df2_column_to_sum2]
                df1.at[index1, 'tavg'] += row2[df2_column_to_sum3]
                df1.at[index1, 'prcp'] += row2[df2_column_to_sum4]

if __name__ == "__main__":


    merge_dataframes_on_match(wildfire3, tempprecip, 'FIPS', 'DATE', 'county_fips', 'date', 'tmax', 'tmin', 'tavg', 'prcp')

0
Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3433, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/k6/pycqf6xx791cyp97r5b3jtsm0000gn/T/ipykernel_21966/2420538099.py", line 14, in <module>
    merge_dataframes_on_match(wildfire3, tempprecip, 'FIPS', 'DATE', 'county_fips', 'date', 'tmax', 'tmin', 'tavg', 'prcp')
  File "/var/folders/k6/pycqf6xx791cyp97r5b3jtsm0000gn/T/ipykernel_21966/2420538099.py", line -1, in merge_dataframes_on_match
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 2052, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1112, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1006, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/IPython/core/ultratb.py", line 859, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/IPython/core/ultratb.py", line 812, in format_exception_as_a_whole
    frames.append(self.format_record(r))
                  ^^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/IPython/core/ultratb.py", line 730, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
                                              ^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/stack_data/core.py", line 720, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/stack_data/core.py", line 667, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
                             ^^^^^^^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/stack_data/core.py", line 646, in executing_piece
    return only(
           ^^^^^
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/executing/executing.py", line 190, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [ ]:
wind.head()

,date,latitude,longitude,wind_u,wind_v,aws,zipcode,county,fips
0,1992-01-01,65.7125,-148.125,-1.139999,-3.020004,3.228006,99775,Fairbanks North Star Borough,2090
1,1992-01-02,65.7125,-148.125,-1.819992,-2.419998,3.027996,99775,Fairbanks North Star Borough,2090
2,1992-01-03,65.7125,-148.125,0.309998,-1.869995,1.895516,99775,Fairbanks North Star Borough,2090
3,1992-01-04,65.7125,-148.125,-1.240006,-2.470001,2.763787,99775,Fairbanks North Star Borough,2090
4,1992-01-05,65.7125,-148.125,0.130005,-1.949997,1.954326,99775,Fairbanks North Star Borough,2090

In [99]:
wind.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3272653 entries, 0 to 3272652
Data columns (total 9 columns):
 #   Column     Dtype
---  ------     -----
 0   date       object
 1   latitude   float64
 2   longitude  float64
 3   wind_u     float64
 4   wind_v     float64
 5   aws        float64
 6   zipcode    int64
 7   county     object
 8   fips       int64
dtypes: float64(5), int64(2), object(2)
memory usage: 224.7+ MB

In [95]:
tempprecip.head(56667)

,id,date,tmax,tmin,tavg,prcp,latitude,longitude,state,county_fips,county_name,state_fips,state_name,block_fips,zipcode,county
0,CA004012400,19920101,0,-126,-86,0,49.216,-102.9667,SK,NaN,NaN,NaN,NaN,NaN,58765,Divide County
1,CA004012400,19920102,20,-119,-54,0,49.216,-102.9667,SK,NaN,NaN,NaN,NaN,NaN,58765,Divide County
2,CA004012400,19920103,23,-120,-9,0,49.216,-102.9667,SK,NaN,NaN,NaN,NaN,NaN,58765,Divide County
3,CA004012400,19920104,11,-121,-71,0,49.216,-102.9667,SK,NaN,NaN,NaN,NaN,NaN,58765,Divide County
4,CA004012400,19920105,-54,-101,-60,0,49.216,-102.9667,SK,NaN,NaN,NaN,NaN,NaN,58765,Divide County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56662,USS0005J08S,20080517,139,-19,61,0,40.030,-105.5800,CO,8013.0,Boulder,8.0,Colorado,8.013014e+13,80466,Boulder County
56663,USS0005J08S,20080518,146,-2,93,0,40.030,-105.5800,CO,8013.0,Boulder,8.0,Colorado,8.013014e+13,80466,Boulder County
56664,USS0005J08S,20080519,168,21,105,0,40.030,-105.5800,CO,8013.0,Boulder,8.0,Colorado,8.013014e+13,80466,Boulder County
56665,USS0005J08S,20080520,178,3,97,0,40.030,-105.5800,CO,8013.0,Boulder,8.0,Colorado,8.013014e+13,80466,Boulder County
56666,USS0005J08S,20080521,169,23,87,0,40.030,-105.5800,CO,8013.0,Boulder,8.0,Colorado,8.013014e+13,80466,Boulder County

In [100]:
tempprecip["county_fips"] = tempprecip["county_fips"].astype("float64")

In [101]:
tempprecip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8438850 entries, 0 to 8438849
Data columns (total 16 columns):
 #   Column       Dtype
---  ------       -----
 0   id           object
 1   date         int64
 2   tmax         int64
 3   tmin         int64
 4   tavg         int64
 5   prcp         int64
 6   latitude     float64
 7   longitude    float64
 8   state        object
 9   county_fips  float64
 10  county_name  object
 11  state_fips   float64
 12  state_name   object
 13  block_fips   float64
 14  zipcode      int64
 15  county       object
dtypes: float64(5), int64(6), object(5)
memory usage: 1.0+ GB

In [116]:
value_to_find = float(0.0)
n = 0
for i in range(0, 100000):


  # Check if the value exists in the 'Name' column of any row
  if value_to_find in tempprecip['county_fips'].values:
      n += 1
      print(n)

  value_to_find = value_to_find + 1.0

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197

KeyboardInterrupt:

In [96]:
wildfire3["tmax"] = 0
wildfire3["tmin"] = 0
wildfire3["tavg"] = 0
wildfire3["prcp"] = 0

In [117]:
def merge_dataframes_on_match(df1, df2, df1_column1, df1_column2, df2_column1, df2_column2, df2_column_to_sum1, df2_column_to_sum2, df2_column_to_sum3, df2_column_to_sum4):
    for index1, row1 in df1.iterrows():
        print("y")
        for index2, row2 in df2.iterrows():
            if row1[df1_column1] == row2[df2_column1] and row1[df1_column2] == row2[df2_column2]:
                print("x")
                df1.at[index1, 'tmax'] += row2[df2_column_to_sum1]
                df1.at[index1, 'tmin'] += row2[df2_column_to_sum2]
                df1.at[index1, 'tavg'] += row2[df2_column_to_sum3]
                df1.at[index1, 'prcp'] += row2[df2_column_to_sum4]

if __name__ == "__main__":


    merge_dataframes_on_match(wildfire3, tempprecip, 'FIPS', 'DATE', 'county_fips', 'date', 'tmax', 'tmin', 'tavg', 'prcp')

y

KeyboardInterrupt:

In [ ]:
firedata = pd.DataFrame()

In [151]:
import pandas as pd

def filter_dataframe_by_value(df, column_name, value_to_find):
    filtered_rows = df[df[column_name] == value_to_find]
    return filtered_rows

if __name__ == "__main__":


    # Create a new DataFrame containing only rows with the specific value
    new_df = filter_dataframe_by_value(tempprecip, 'state', "CA")
    new_df.head()

In [152]:
new_df.head()

,id,date,tmax,tmin,tavg,prcp,latitude,longitude,state,county_fips,county_name,state_fips,state_name,block_fips,zipcode,county
3766684,USS0019L03S,19920101,91,-111,-57,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
3766685,USS0019L03S,19920102,89,-108,-45,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
3766686,USS0019L03S,19920103,-1,-87,-37,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
3766687,USS0019L03S,19920104,45,-39,-9,25,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
3766688,USS0019L03S,19920105,-17,-132,-61,102,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County

In [153]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 448824 entries, 3766684 to 8362738
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           448824 non-null  object
 1   date         448824 non-null  int64
 2   tmax         448824 non-null  int64
 3   tmin         448824 non-null  int64
 4   tavg         448824 non-null  int64
 5   prcp         448824 non-null  int64
 6   latitude     448824 non-null  float64
 7   longitude    448824 non-null  float64
 8   state        448824 non-null  object
 9   county_fips  448824 non-null  float64
 10  county_name  448824 non-null  object
 11  state_fips   448824 non-null  float64
 12  state_name   448824 non-null  object
 13  block_fips   448824 non-null  float64
 14  zipcode      448824 non-null  int64
 15  county       448824 non-null  object
dtypes: float64(5), int64(6), object(5)
memory usage: 58.2+ MB

In [158]:
new_df.to_csv("/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/tp_zipcode_county_CA.csv")

In [3]:
tempprecip_CA = pd.read_csv("Wildfire/Datasets/tp_zipcode_county_CA.csv")

In [4]:
tempprecip_CA.head(30)

,Unnamed: 0,id,date,tmax,tmin,tavg,prcp,latitude,longitude,state,county_fips,county_name,state_fips,state_name,block_fips,zipcode,county
0,3766684,USS0019L03S,19920101,91,-111,-57,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
1,3766685,USS0019L03S,19920102,89,-108,-45,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
2,3766686,USS0019L03S,19920103,-1,-87,-37,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
3,3766687,USS0019L03S,19920104,45,-39,-9,25,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
4,3766688,USS0019L03S,19920105,-17,-132,-61,102,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
5,3766689,USS0019L03S,19920106,1,-109,-66,25,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
6,3766690,USS0019L03S,19920107,-10,-137,-62,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
7,3766691,USS0019L03S,19920108,60,-162,-88,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
8,3766692,USS0019L03S,19920109,112,-116,-47,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
9,3766693,USS0019L03S,19920110,110,-87,-24,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
10,3766694,USS0019L03S,19920111,-23,-149,-83,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
11,3766695,USS0019L03S,19920112,40,-158,-76,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
12,3766696,USS0019L03S,19920113,72,-129,-53,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
13,3766697,USS0019L03S,19920114,76,-114,-46,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
14,3766698,USS0019L03S,19920115,125,-84,-17,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
15,3766699,USS0019L03S,19920116,103,-83,-20,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
16,3766700,USS0019L03S,19920117,2,-77,-32,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
17,3766701,USS0019L03S,19920118,49,-95,-16,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
18,3766702,USS0019L03S,19920119,88,-126,-44,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
19,3766703,USS0019L03S,19920120,92,-133,-53,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
20,3766704,USS0019L03S,19920121,89,-123,-51,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
21,3766705,USS0019L03S,19920122,104,-138,-59,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
22,3766706,USS0019L03S,19920123,126,-114,-26,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
23,3766707,USS0019L03S,19920124,130,-70,7,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
24,3766708,USS0019L03S,19920125,106,-37,27,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
25,3766709,USS0019L03S,19920126,79,-80,-23,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
26,3766710,USS0019L03S,19920127,115,-92,-5,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
27,3766711,USS0019L03S,19920128,41,-113,-22,51,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
28,3766712,USS0019L03S,19920129,119,-118,-31,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County
29,3766713,USS0019L03S,19920130,134,-77,1,0,38.85,-119.94,CA,6017.0,El Dorado,6.0,California,6.017031e+13,89460,Douglas County

In [162]:
tempprecip_CA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448824 entries, 0 to 448823
Data columns (total 17 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   448824 non-null  int64
 1   id           448824 non-null  object
 2   date         448824 non-null  int64
 3   tmax         448824 non-null  int64
 4   tmin         448824 non-null  int64
 5   tavg         448824 non-null  int64
 6   prcp         448824 non-null  int64
 7   latitude     448824 non-null  float64
 8   longitude    448824 non-null  float64
 9   state        448824 non-null  object
 10  county_fips  448824 non-null  float64
 11  county_name  448824 non-null  object
 12  state_fips   448824 non-null  float64
 13  state_name   448824 non-null  object
 14  block_fips   448824 non-null  float64
 15  zipcode      448824 non-null  int64
 16  county       448824 non-null  object
dtypes: float64(5), int64(7), object(5)
memory usage: 58.2+ MB

In [103]:
fire_data = pd.read_csv("Wildfire/Datasets/aggregated_wildfire_CA.csv")

In [10]:
fire_data.groupby(["FIPS"]).count()

,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,START_DATE,END_DATE,DATE
FIPS,,,,,,,,
6001.0,22,22,22,22,22,22,22,22
6003.0,153,153,153,153,153,153,153,153
6005.0,289,289,289,289,289,289,289,289
6007.0,633,633,633,633,633,633,633,633
6009.0,550,550,550,550,550,550,550,550
6011.0,45,45,45,45,45,45,45,45
6013.0,11,11,11,11,11,11,11,11
6015.0,90,90,90,90,90,90,90,90
6017.0,1367,1367,1367,1367,1367,1367,1367,1367
6019.0,420,420,420,420,420,420,420,420
6021.0,35,35,35,35,35,35,35,35
6023.0,322,322,322,322,322,322,322,322
6025.0,83,83,83,83,83,83,83,83
6027.0,282,282,282,282,282,282,282,282
6029.0,1239,1239,1239,1239,1239,1239,1239,1239
6031.0,6,6,6,6,6,6,6,6
6033.0,262,262,262,262,262,262,262,262
6035.0,796,796,796,796,796,796,796,796
6037.0,808,808,808,808,808,808,808,808
6039.0,224,224,224,224,224,224,224,224
6043.0,260,260,260,260,260,260,260,260
6045.0,288,288,288,288,288,288,288,288
6047.0,8,8,8,8,8,8,8,8
6049.0,481,481,481,481,481,481,481,481
6051.0,310,310,310,310,310,310,310,310
6053.0,169,169,169,169,169,169,169,169
6055.0,147,147,147,147,147,147,147,147
6057.0,648,648,648,648,648,648,648,648
6059.0,57,57,57,57,57,57,57,57
6061.0,565,565,565,565,565,565,565,565
6063.0,428,428,428,428,428,428,428,428
6065.0,2721,2721,2721,2721,2721,2721,2721,2721
6067.0,2,2,2,2,2,2,2,2
6069.0,24,24,24,24,24,24,24,24
6071.0,981,981,981,981,981,981,981,981
6073.0,975,975,975,975,975,975,975,975
6079.0,163,163,163,163,163,163,163,163
6081.0,8,8,8,8,8,8,8,8
6083.0,78,78,78,78,78,78,78,78
6085.0,26,26,26,26,26,26,26,26
6087.0,14,14,14,14,14,14,14,14
6089.0,995,995,995,995,995,995,995,995
6091.0,147,147,147,147,147,147,147,147
6093.0,839,839,839,839,839,839,839,839
6095.0,14,14,14,14,14,14,14,14
6097.0,63,63,63,63,63,63,63,63
6099.0,10,10,10,10,10,10,10,10
6103.0,284,284,284,284,284,284,284,284
6105.0,616,616,616,616,616,616,616,616
6107.0,324,324,324,324,324,324,324,324
6109.0,854,854,854,854,854,854,854,854
6111.0,44,44,44,44,44,44,44,44
6113.0,47,47,47,47,47,47,47,47
6115.0,142,142,142,142,142,142,142,142

In [14]:
def filter_dataframe_by_value(df, column_name, value_to_find):
    filtered_rows = df[df[column_name] == value_to_find]
    return filtered_rows

if __name__ == "__main__":


    # Create a new DataFrame containing only rows with the specific value
    new_df = filter_dataframe_by_value(tempprecip_CA, 'county_fips', 6065.0)

In [17]:
new_df.to_csv("Wildfire/Datasets/tp_zipcode_county_Riverside.csv", index=False)

In [12]:
new_df.to_csv("Wildfire/Datasets/aggregated_wildfire_Riverside.csv", index=False)

In [13]:
firedata_Riverside = pd.read_csv("Wildfire/Datasets/aggregated_wildfire_Riverside.csv")

In [18]:
tempprecip_Riverside = pd.read_csv("Wildfire/Datasets/tp_zipcode_county_Riverside.csv")

In [22]:
firedata_Riverside.head(50)

,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp
0,0.1,A,33.976008,-116.501361,6,20070616,20070616,6065.0,20070616,NaN,NaN,NaN,NaN
1,1.0,B,33.735631,-117.266681,6,20031014,20031014,6065.0,20031014,356.0,211.0,283.0,0.0
2,0.1,A,33.663369,-116.312561,6,19990202,19990202,6065.0,19990202,228.0,100.0,167.0,0.0
3,0.1,A,33.736739,-116.172839,6,20041202,20041202,6065.0,20041202,178.0,44.0,111.0,0.0
4,0.1,A,33.677689,-116.312631,6,19990131,19990131,6065.0,19990131,183.0,56.0,122.0,0.0
5,0.1,A,33.825997,-116.218172,6,20070927,20070927,6065.0,20070927,NaN,NaN,NaN,NaN
6,0.5,B,33.983439,-116.658681,6,19990202,19990202,6065.0,19990202,228.0,100.0,167.0,0.0
7,0.1,A,33.726419,-116.164136,6,20071124,20071124,6065.0,20071124,NaN,NaN,NaN,NaN
8,0.1,A,33.609214,-114.727250,6,20071128,20071128,6065.0,20071128,NaN,NaN,NaN,NaN
9,0.1,A,33.725000,-117.292858,6,20070613,20070613,6065.0,20070613,NaN,NaN,NaN,NaN
10,0.1,A,34.004697,-116.576333,6,20070928,20070928,6065.0,20070928,NaN,NaN,NaN,NaN
11,0.1,A,33.663369,-116.312561,6,20050228,20050228,6065.0,20050228,228.0,89.0,161.0,0.0
12,0.1,A,33.881769,-116.990689,6,20030929,20030929,6065.0,20030929,389.0,239.0,317.0,0.0
13,0.1,A,33.532781,-116.052569,6,20050313,20050313,6065.0,20050313,256.0,128.0,194.0,0.0
14,0.1,A,33.751089,-116.207900,6,20041114,20041114,6065.0,20041114,250.0,122.0,189.0,0.0
15,4.0,B,33.663311,-117.284039,6,19990211,19990211,6065.0,19990211,167.0,39.0,106.0,0.0
16,0.1,A,33.793350,-117.321831,6,19990416,19990416,6065.0,19990416,328.0,189.0,261.0,0.0
17,1.0,B,33.916317,-116.614200,6,20070616,20070616,6065.0,20070616,NaN,NaN,NaN,NaN
18,0.1,A,33.612358,-117.260417,6,20070613,20070613,6065.0,20070613,NaN,NaN,NaN,NaN
19,1.0,B,33.954136,-116.475039,6,20070616,20070616,6065.0,20070616,NaN,NaN,NaN,NaN
20,0.1,A,33.925169,-117.076800,6,20031107,20031107,6065.0,20031107,244.0,117.0,183.0,0.0
21,0.1,A,33.692250,-116.416800,6,20031005,20031005,6065.0,20031005,350.0,200.0,278.0,0.0
22,0.2,A,33.603333,-117.450000,6,19990301,19990301,6065.0,19990301,317.0,133.0,228.0,0.0
23,0.1,A,33.707661,-116.164125,6,20070930,20070930,6065.0,20070930,NaN,NaN,NaN,NaN
24,0.1,A,33.651389,-117.412778,6,20090809,20090809,6065.0,20090809,NaN,NaN,NaN,NaN
25,1.0,B,33.914094,-116.603142,6,20070616,20070616,6065.0,20070616,NaN,NaN,NaN,NaN
26,0.1,A,33.706750,-117.249400,6,20031017,20031017,6065.0,20031017,367.0,206.0,289.0,0.0
27,0.1,A,33.663339,-116.330189,6,19990218,19990218,6065.0,19990218,261.0,117.0,189.0,0.0
28,0.1,A,33.663369,-116.312561,6,19990215,19990215,6065.0,19990215,250.0,89.0,172.0,0.0
29,0.1,A,33.736769,-116.207969,6,20041014,20041014,6065.0,20041014,350.0,211.0,283.0,0.0
30,0.1,A,33.585278,-116.624444,6,20060930,20060930,6065.0,20060930,NaN,NaN,NaN,NaN
31,0.1,A,33.910231,-116.554111,6,19990420,19990420,6065.0,19990420,361.0,189.0,278.0,0.0
32,0.1,A,33.465183,-117.112414,6,20070930,20070930,6065.0,20070930,NaN,NaN,NaN,NaN
33,3.0,B,33.925431,-116.728539,6,20031016,20031016,6065.0,20031016,350.0,178.0,267.0,0.0
34,0.1,A,33.881200,-116.501869,6,20050208,20050208,6065.0,20050208,206.0,67.0,139.0,0.0
35,0.1,A,33.925011,-116.606350,6,20030927,20030927,6065.0,20030927,389.0,222.0,306.0,0.0
36,0.1,A,33.968650,-116.501450,6,20031110,20031110,6065.0,20031110,256.0,161.0,211.0,0.0
37,0.1,A,33.720700,-117.283931,6,19990117,19990117,6065.0,19990117,239.0,94.0,167.0,0.0
38,0.1,A,33.881200,-116.501869,6,20061002,20061002,6065.0,20061002,NaN,NaN,NaN,NaN
39,0.1,A,33.753531,-117.284167,6,20070612,20070612,6065.0,20070612,NaN,NaN,NaN,NaN
40,65.0,C,33.895000,-116.882500,6,20060923,20060923,6065.0,20060923,NaN,NaN,NaN,NaN
41,0.1,A,33.510792,-115.891964,6,20070612,20070612,6065.0,20070612,NaN,NaN,NaN,NaN
42,0.1,A,33.822861,-117.217350,6,20030924,20030924,6065.0,20030924,356.0,250.0,306.0,0.0
43,0.1,A,33.837350,-117.217389,6,19990111,19990111,6065.0,19990111,250.0,106.0,178.0,0.0
44,0.1,A,33.925039,-117.042819,6,19990418,19990418,6065.0,19990418,372.0,172.0,272.0,0.0
45,0.1,A,33.765619,-116.225381,6,20031127,20031127,6065.0,20031127,206.0,72.0,139.0,0.0
46,0.1,A,33.803211,-117.128111,6,20070612,20070612,6065.0,20070612,NaN,NaN,NaN,NaN
47,0.5,B,33.619550,-117.266800,6,20061003,20061003,6065.0,20061003,NaN,NaN,NaN,NaN
48,0.1,A,33.663369,-116.312561,6,20041009,20041009,6065.0,20041009,361.0,194.0,278.0,0.0
49,0.1,A,33.919506,-117.103764,6,20070616,20070616,6065.0,20070616,NaN,NaN,NaN,NaN

In [6]:
fire_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20369 entries, 0 to 20368
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   FIRE_SIZE        20369 non-null  float64
 1   FIRE_SIZE_CLASS  20369 non-null  object
 2   LATITUDE         20369 non-null  float64
 3   LONGITUDE        20369 non-null  float64
 4   STATE            20369 non-null  int64
 5   START_DATE       20369 non-null  int64
 6   END_DATE         20369 non-null  int64
 7   FIPS             20369 non-null  float64
 8   DATE             20369 non-null  int64
dtypes: float64(4), int64(4), object(1)
memory usage: 1.4+ MB

In [173]:
fire_data["tmax"] = 0
fire_data["tmin"] = 0
fire_data["tavg"] = 0
fire_data["prcp"] = 0

In [23]:
import pandas as pd
def merge_dataframes_on_match(df1, df2, df1_column1, df1_column2, df2_column1, df2_column2, df2_column_to_sum1, df2_column_to_sum2, df2_column_to_sum3, df2_column_to_sum4):
    for index1, row1 in df1.iterrows():
        for index2, row2 in df2.iterrows():
            if row1[df1_column1] == row2[df2_column1] and row1[df1_column2] == row2[df2_column2]:
                df1.at[index1, 'tmax'] = row2[df2_column_to_sum1]
                df1.at[index1, 'tmin'] = row2[df2_column_to_sum2]
                df1.at[index1, 'tavg'] = row2[df2_column_to_sum3]
                df1.at[index1, 'prcp'] = row2[df2_column_to_sum4]

if __name__ == "__main__":


    merge_dataframes_on_match(firedata_Riverside, tempprecip_Riverside, 'FIPS', 'DATE', 'county_fips', 'date', 'tmax', 'tmin', 'tavg', 'prcp')

In [55]:
firedata_Riverside.head()

,Unnamed: 0,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp,aws
0,0,0.1,A,33.976008,-116.501361,6,20070616,20070616,6065.0,20070616,NaN,NaN,NaN,NaN,3.773714
1,1,1.0,B,33.735631,-117.266681,6,20031014,20031014,6065.0,20031014,356.0,211.0,283.0,0.0,1.278828
2,2,0.1,A,33.663369,-116.312561,6,19990202,19990202,6065.0,19990202,228.0,100.0,167.0,0.0,4.756914
3,3,0.1,A,33.736739,-116.172839,6,20041202,20041202,6065.0,20041202,178.0,44.0,111.0,0.0,5.424066
4,4,0.1,A,33.677689,-116.312631,6,19990131,19990131,6065.0,19990131,183.0,56.0,122.0,0.0,2.163339

In [54]:
firedata_Riverside.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2721 entries, 0 to 2720
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       2721 non-null   int64
 1   FIRE_SIZE        2721 non-null   float64
 2   FIRE_SIZE_CLASS  2721 non-null   object
 3   LATITUDE         2721 non-null   float64
 4   LONGITUDE        2721 non-null   float64
 5   STATE            2721 non-null   int64
 6   START_DATE       2721 non-null   int64
 7   END_DATE         2721 non-null   int64
 8   FIPS             2721 non-null   float64
 9   DATE             2721 non-null   int64
 10  tmax             1329 non-null   float64
 11  tmin             1329 non-null   float64
 12  tavg             1329 non-null   float64
 13  prcp             1329 non-null   float64
 14  aws              9 non-null      float64
dtypes: float64(9), int64(5), object(1)
memory usage: 319.0+ KB

In [28]:
firedata_Riverside.to_csv("/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/merged_tp_precip_Riverside.csv")

In [56]:
firedata_Riverside = pd.read_csv("/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/merged_tp_precip_Riverside.csv")

In [42]:
wind_Riverside = pd.read_csv("Wildfire/Datasets/wind_with_fips_Bernardino.csv")

In [50]:
wind_Riverside.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10523 entries, 0 to 10522
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10523 non-null  int64
 1   date        10523 non-null  int64
 2   latitude    10523 non-null  float64
 3   longitude   10523 non-null  float64
 4   wind_u      10523 non-null  float64
 5   wind_v      10523 non-null  float64
 6   aws         10523 non-null  float64
 7   zipcode     10523 non-null  int64
 8   county      10523 non-null  object
 9   fips        10523 non-null  int64
dtypes: float64(5), int64(4), object(1)
memory usage: 822.2+ KB

In [47]:
wind_Riverside.head()

,Unnamed: 0,date,latitude,longitude,wind_u,wind_v,aws,zipcode,county,fips
0,2283491,19920101,35.2375,-116.25,-3.470001,-4.250000,5.486657,92309,San Bernardino County,6071
1,2283492,19920102,35.2375,-116.25,-3.319992,-5.039993,6.035220,92309,San Bernardino County,6071
2,2283493,19920103,35.2375,-116.25,-2.220001,-4.470001,4.990923,92309,San Bernardino County,6071
3,2283494,19920104,35.2375,-116.25,0.279999,-2.050003,2.069037,92309,San Bernardino County,6071
4,2283495,19920105,35.2375,-116.25,4.860001,-3.020004,5.721890,92309,San Bernardino County,6071

In [46]:
for i in range(0, len(wind_Riverside)):
    wind_Riverside.iloc[i, 1] = int(datetime.strptime(wind_Riverside.iloc[i, 1], "%Y-%m-%d").strftime("%Y%m%d"))

ValueError: time data '19920101' does not match format '%Y-%m-%d'

In [49]:
wind_Riverside["date"] = wind_Riverside["date"].astype(int)

In [31]:
firedata_Riverside["aws"] = 0

In [57]:
def merge_dataframes_on_match(df1, df2, df1_column1, df2_column1, df2_column_to_sum1):
    for index1, row1 in df1.iterrows():
        for index2, row2 in df2.iterrows():
            if row1[df1_column1] == row2[df2_column1]:
                df1.at[index1, 'aws'] = row2[df2_column_to_sum1]

if __name__ == "__main__":


    merge_dataframes_on_match(firedata_Riverside, wind_Riverside, 'DATE', 'date', 'aws')

In [58]:
firedata_Riverside.to_csv("/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/merged_tp_precip_wind_Riverside.csv")

In [60]:
firedata_Riverside.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2721 entries, 0 to 2720
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.1     2721 non-null   int64
 1   Unnamed: 0       2721 non-null   int64
 2   FIRE_SIZE        2721 non-null   float64
 3   FIRE_SIZE_CLASS  2721 non-null   object
 4   LATITUDE         2721 non-null   float64
 5   LONGITUDE        2721 non-null   float64
 6   STATE            2721 non-null   int64
 7   START_DATE       2721 non-null   int64
 8   END_DATE         2721 non-null   int64
 9   FIPS             2721 non-null   float64
 10  DATE             2721 non-null   int64
 11  tmax             1329 non-null   float64
 12  tmin             1329 non-null   float64
 13  tavg             1329 non-null   float64
 14  prcp             1329 non-null   float64
 15  aws              2721 non-null   float64
dtypes: float64(9), int64(6), object(1)
memory usage: 340.2+ KB

In [59]:
firedata_Riverside = pd.read_csv("/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/merged_tp_precip_wind_Riverside.csv")

In [61]:
fmc_Riverside = pd.read_csv("Wildfire/Datasets/fuel_with_fips_Riverside.csv")

In [85]:
fmc_Riverside.head(180)

,Unnamed: 0.1,Unnamed: 0,date,percent,latitude,longitude,state,zipcode,county,fips
0,114,114,19840309,105.000,33.708,-116.771,CA,92549,Riverside County,6065
1,120,120,19840512,76.667,33.708,-116.771,CA,92549,Riverside County,6065
2,125,125,19840602,68.667,33.708,-116.771,CA,92549,Riverside County,6065
3,135,135,19840624,60.333,33.708,-116.771,CA,92549,Riverside County,6065
4,145,145,19840706,54.000,33.708,-116.771,CA,92549,Riverside County,6065
...,...,...,...,...,...,...,...,...,...,...
175,4874,4874,19981113,66.000,33.708,-116.771,CA,92549,Riverside County,6065
176,4903,4903,19990118,60.667,33.708,-116.771,CA,92549,Riverside County,6065
177,4914,4914,19990214,66.667,33.708,-116.771,CA,92549,Riverside County,6065
178,4982,4982,19990504,108.667,33.708,-116.771,CA,92549,Riverside County,6065
179,5047,5047,19990526,90.000,33.708,-116.771,CA,92549,Riverside County,6065

In [67]:
fmc_Riverside.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901 entries, 0 to 900
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  901 non-null    int64
 1   Unnamed: 0    901 non-null    int64
 2   date          901 non-null    int64
 3   percent       901 non-null    float64
 4   latitude      901 non-null    float64
 5   longitude     901 non-null    float64
 6   state         901 non-null    object
 7   zipcode       901 non-null    int64
 8   county        901 non-null    object
 9   fips          901 non-null    int64
dtypes: float64(3), int64(5), object(2)
memory usage: 70.5+ KB

In [64]:
for i in range(0, len(fmc_Riverside)):
    fmc_Riverside.iloc[i, 2] = datetime.strptime(fmc_Riverside.iloc[i, 2], "%Y-%m-%d").strftime("%Y%m%d")

In [66]:
fmc_Riverside["date"] = fmc_Riverside["date"].astype(int)

In [68]:
fmc_Riverside.groupby("date").count()

,Unnamed: 0.1,Unnamed: 0,percent,latitude,longitude,state,zipcode,county,fips
date,,,,,,,,,
19840309,1,1,1,1,1,1,1,1,1
19840512,1,1,1,1,1,1,1,1,1
19840602,1,1,1,1,1,1,1,1,1
19840624,1,1,1,1,1,1,1,1,1
19840706,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
20200831,1,1,1,1,1,1,1,1,1
20200914,1,1,1,1,1,1,1,1,1
20200928,1,1,1,1,1,1,1,1,1
20201012,1,1,1,1,1,1,1,1,1
20201015,1,1,1,1,1,1,1,1,1

In [69]:
firedata_Riverside["fmc"] = 0

In [89]:
firedata_Riverside.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2721 entries, 0 to 2720
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.1     2721 non-null   int64
 1   Unnamed: 0       2721 non-null   int64
 2   FIRE_SIZE        2721 non-null   float64
 3   FIRE_SIZE_CLASS  2721 non-null   object
 4   LATITUDE         2721 non-null   float64
 5   LONGITUDE        2721 non-null   float64
 6   STATE            2721 non-null   int64
 7   START_DATE       2721 non-null   int64
 8   END_DATE         2721 non-null   int64
 9   FIPS             2721 non-null   float64
 10  DATE             2721 non-null   int64
 11  tmax             1329 non-null   float64
 12  tmin             1329 non-null   float64
 13  tavg             1329 non-null   float64
 14  prcp             1329 non-null   float64
 15  aws              2721 non-null   float64
 16  fmc              2721 non-null   float64
dtypes: float64(10), int64(6), object(1)
memory usage: 361.5+ KB

In [86]:
def merge_dataframes_on_match(df1, df2, df1_column1, df2_column1, df2_column_to_sum1):
    for index1, row1 in df1.iterrows():
        for index2, row2 in df2.iterrows():
            if row1[df1_column1] >= row2[df2_column1]:
                df1.at[index1, 'fmc'] = row2[df2_column_to_sum1]

if __name__ == "__main__":


    merge_dataframes_on_match(firedata_Riverside, fmc_Riverside.sort_values("date"), 'DATE', 'date', 'percent')

In [90]:
firedata_Riverside.to_csv("/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/merged_tp_precip_wind_fmc_Riverside.csv")

In [92]:
firedata_Riverside = pd.read_csv("/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/merged_tp_precip_wind_fmc_Riverside.csv")

In [93]:
firedata_Riverside.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
0,0,0,0,0.1,A,33.976008,-116.501361,6,20070616,20070616,6065.0,20070616,NaN,NaN,NaN,NaN,3.773714,67.077
1,1,1,1,1.0,B,33.735631,-117.266681,6,20031014,20031014,6065.0,20031014,356.0,211.0,283.0,0.0,1.278828,67.500
2,2,2,2,0.1,A,33.663369,-116.312561,6,19990202,19990202,6065.0,19990202,228.0,100.0,167.0,0.0,4.756914,60.667
3,3,3,3,0.1,A,33.736739,-116.172839,6,20041202,20041202,6065.0,20041202,178.0,44.0,111.0,0.0,5.424066,82.000
4,4,4,4,0.1,A,33.677689,-116.312631,6,19990131,19990131,6065.0,19990131,183.0,56.0,122.0,0.0,2.163339,60.667

In [95]:
tempprecip_Riverside.head()

,Unnamed: 0,id,date,tmax,tmin,tavg,prcp,latitude,longitude,state,county_fips,county_name,state_fips,state_name,block_fips,zipcode,county
0,5162423,USW00003104,19980401,194,78,139,0,33.626,-116.1594,CA,6065.0,Riverside,6.0,California,6.065046e+13,92236,Riverside County
1,5162424,USW00003104,19980402,228,6,117,0,33.626,-116.1594,CA,6065.0,Riverside,6.0,California,6.065046e+13,92236,Riverside County
2,5162425,USW00003104,19980403,244,28,139,0,33.626,-116.1594,CA,6065.0,Riverside,6.0,California,6.065046e+13,92236,Riverside County
3,5162426,USW00003104,19980404,239,100,172,0,33.626,-116.1594,CA,6065.0,Riverside,6.0,California,6.065046e+13,92236,Riverside County
4,5162427,USW00003104,19980405,250,94,172,0,33.626,-116.1594,CA,6065.0,Riverside,6.0,California,6.065046e+13,92236,Riverside County

In [96]:
import pandas as pd
def merge_dataframes_on_match(df1, df2, df1_column1, df2_column1, df2_column_to_sum1, df2_column_to_sum2, df2_column_to_sum3, df2_column_to_sum4):
    for index1, row1 in df1.iterrows():
        for index2, row2 in df2.iterrows():
            if row1[df1_column1] >= row2[df2_column1]:
                df1.at[index1, 'tmax'] = row2[df2_column_to_sum1]
                df1.at[index1, 'tmin'] = row2[df2_column_to_sum2]
                df1.at[index1, 'tavg'] = row2[df2_column_to_sum3]
                df1.at[index1, 'prcp'] = row2[df2_column_to_sum4]

if __name__ == "__main__":


    merge_dataframes_on_match(firedata_Riverside, tempprecip_Riverside.sort_values("date"), 'DATE', 'date', 'tmax', 'tmin', 'tavg', 'prcp')

In [97]:
firedata_Riverside.to_csv("/Users/paulzhou/Visual Studio Code/Wildfire/Datasets/merged_tp_precip_wind_fmc_Riverside.csv")

In [99]:
firedata_Riverside.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2721 entries, 0 to 2720
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0.2     2721 non-null   int64
 1   Unnamed: 0.1     2721 non-null   int64
 2   Unnamed: 0       2721 non-null   int64
 3   FIRE_SIZE        2721 non-null   float64
 4   FIRE_SIZE_CLASS  2721 non-null   object
 5   LATITUDE         2721 non-null   float64
 6   LONGITUDE        2721 non-null   float64
 7   STATE            2721 non-null   int64
 8   START_DATE       2721 non-null   int64
 9   END_DATE         2721 non-null   int64
 10  FIPS             2721 non-null   float64
 11  DATE             2721 non-null   int64
 12  tmax             2707 non-null   float64
 13  tmin             2707 non-null   float64
 14  tavg             2707 non-null   float64
 15  prcp             2707 non-null   float64
 16  aws              2721 non-null   float64
 17  fmc              2721 non-null   float64
dtypes: float64(10), int64(7), object(1)
memory usage: 382.8+ KB

In [102]:
firedata_Riverside.groupby("FIRE_SIZE").count()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,START_DATE,END_DATE,FIPS,DATE,tmax,tmin,tavg,prcp,aws,fmc
FIRE_SIZE,,,,,,,,,,,,,,,,,
0.01,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
0.02,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
0.10,1788,1788,1788,1788,1788,1788,1788,1788,1788,1788,1788,1775,1775,1775,1775,1788,1788
0.20,195,195,195,195,195,195,195,195,195,195,195,195,195,195,195,195,195
0.25,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3667.10,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6644.20,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
16460.00,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
19575.80,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
40200.00,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [ ]:
import pandas as pd
def merge_dataframes_on_match(df1, df2, df1_column1, df2_column1, df2_column_to_sum1, df2_column_to_sum2, df2_column_to_sum3, df2_column_to_sum4):
    for index1, row1 in df1.iterrows():
        for index2, row2 in df2.iterrows():
            if row1[df1_column1] >= row2[df2_column1]:
                df1.at[index1, 'tmax'] = row2[df2_column_to_sum1]
                df1.at[index1, 'tmin'] = row2[df2_column_to_sum2]
                df1.at[index1, 'tavg'] = row2[df2_column_to_sum3]
                df1.at[index1, 'prcp'] = row2[df2_column_to_sum4]

if __name__ == "__main__":


    merge_dataframes_on_match(firedata_Riverside, tempprecip_Riverside.sort_values("date"), 'DATE', 'date', 'tmax', 'tmin', 'tavg', 'prcp')

In [ ]:
def merge_dataframes_on_match(df1, df2, df1_column1, df2_column1, df2_column_to_sum1):
    for index1, row1 in df1.iterrows():
        for index2, row2 in df2.iterrows():
            if row1[df1_column1] == row2[df2_column1]:
                df1.at[index1, 'aws'] = row2[df2_column_to_sum1]

if __name__ == "__main__":


    merge_dataframes_on_match(firedata_Riverside, wind_Riverside, 'DATE', 'date', 'aws')

In [ ]:
def merge_dataframes_on_match(df1, df2, df1_column1, df2_column1, df2_column_to_sum1):
    for index1, row1 in df1.iterrows():
        for index2, row2 in df2.iterrows():
            if row1[df1_column1] >= row2[df2_column1]:
                df1.at[index1, 'fmc'] = row2[df2_column_to_sum1]

if __name__ == "__main__":


    merge_dataframes_on_match(firedata_Riverside, fmc_Riverside.sort_values("date"), 'DATE', 'date', 'percent')

MERGING FORMAT
# Start to merge data from here. Replace the 60XX to the proper county code

In [183]:
target_fips = 6023.0
target_fips_int = 6023
target_county_name = "Humboldt"

In [184]:
#initial fire_data CA csv
fire_data = pd.read_csv("Datasets/aggregated_wildfire_CA.csv")

In [185]:
#find a FIPS value that has a good amount of datapoints
fire_data.groupby(["FIPS"]).count()

,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,START_DATE,END_DATE,DATE
FIPS,,,,,,,,
6001.0,22,22,22,22,22,22,22,22
6003.0,153,153,153,153,153,153,153,153
6005.0,289,289,289,289,289,289,289,289
6007.0,633,633,633,633,633,633,633,633
6009.0,550,550,550,550,550,550,550,550
6011.0,45,45,45,45,45,45,45,45
6013.0,11,11,11,11,11,11,11,11
6015.0,90,90,90,90,90,90,90,90
6017.0,1367,1367,1367,1367,1367,1367,1367,1367
6019.0,420,420,420,420,420,420,420,420
6021.0,35,35,35,35,35,35,35,35
6023.0,322,322,322,322,322,322,322,322
6025.0,83,83,83,83,83,83,83,83
6027.0,282,282,282,282,282,282,282,282
6029.0,1239,1239,1239,1239,1239,1239,1239,1239
6031.0,6,6,6,6,6,6,6,6
6033.0,262,262,262,262,262,262,262,262
6035.0,796,796,796,796,796,796,796,796
6037.0,808,808,808,808,808,808,808,808
6039.0,224,224,224,224,224,224,224,224
6043.0,260,260,260,260,260,260,260,260
6045.0,288,288,288,288,288,288,288,288
6047.0,8,8,8,8,8,8,8,8
6049.0,481,481,481,481,481,481,481,481
6051.0,310,310,310,310,310,310,310,310
6053.0,169,169,169,169,169,169,169,169
6055.0,147,147,147,147,147,147,147,147
6057.0,648,648,648,648,648,648,648,648
6059.0,57,57,57,57,57,57,57,57
6061.0,565,565,565,565,565,565,565,565
6063.0,428,428,428,428,428,428,428,428
6065.0,2721,2721,2721,2721,2721,2721,2721,2721
6067.0,2,2,2,2,2,2,2,2
6069.0,24,24,24,24,24,24,24,24
6071.0,981,981,981,981,981,981,981,981
6073.0,975,975,975,975,975,975,975,975
6079.0,163,163,163,163,163,163,163,163
6081.0,8,8,8,8,8,8,8,8
6083.0,78,78,78,78,78,78,78,78
6085.0,26,26,26,26,26,26,26,26
6087.0,14,14,14,14,14,14,14,14
6089.0,995,995,995,995,995,995,995,995
6091.0,147,147,147,147,147,147,147,147
6093.0,839,839,839,839,839,839,839,839
6095.0,14,14,14,14,14,14,14,14
6097.0,63,63,63,63,63,63,63,63
6099.0,10,10,10,10,10,10,10,10
6103.0,284,284,284,284,284,284,284,284
6105.0,616,616,616,616,616,616,616,616
6107.0,324,324,324,324,324,324,324,324
6109.0,854,854,854,854,854,854,854,854
6111.0,44,44,44,44,44,44,44,44
6113.0,47,47,47,47,47,47,47,47
6115.0,142,142,142,142,142,142,142,142

In [186]:
#replace the float 6065.0 at the end with the desired FIPS FLOAT. Change firedata_COUNTY into your corresponding county
def filter_dataframe_by_value(df, column_name, value_to_find):
    filtered_rows = df[df[column_name] == value_to_find]
    return filtered_rows

if __name__ == "__main__":


    # Create a new DataFrame containing only rows with the specific value
    firedata_COUNTY = filter_dataframe_by_value(fire_data, 'FIPS', target_fips)

In [187]:
#new columns for merged features
firedata_COUNTY["tmax"] = 0
firedata_COUNTY["tmin"] = 0
firedata_COUNTY["tavg"] = 0
firedata_COUNTY["prcp"] = 0
firedata_COUNTY["aws"] = 0
firedata_COUNTY["fmc"] = 0

/var/folders/49/5ympyqjx7098rbtxzlhjcgx40000gn/T/ipykernel_13439/39436440.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  firedata_COUNTY["tmax"] = 0
/var/folders/49/5ympyqjx7098rbtxzlhjcgx40000gn/T/ipykernel_13439/39436440.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  firedata_COUNTY["tmin"] = 0
/var/folders/49/5ympyqjx7098rbtxzlhjcgx40000gn/T/ipykernel_13439/39436440.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  firedata_COUNTY["tavg"] = 0
/var/folders/49/5ympyqjx7098rbtxzlhjcgx40000gn/T/ipykernel_13439/39436440.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  firedata_COUNTY["prcp"] = 0
/var/folders/49/5ympyqjx7098rbtxzlhjcgx40000gn/T/ipykernel_13439/39436440.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  firedata_COUNTY["aws"] = 0
/var/folders/49/5ympyqjx7098rbtxzlhjcgx40000gn/T/ipykernel_13439/39436440.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  firedata_COUNTY["fmc"] = 0

In [189]:
#initial temp & precip csv
tempprecip_CA = pd.read_csv("Datasets/tp_zipcode_county_CA.csv")

In [190]:
#Check to see if there are a good number of datapoints in Wildfire/Datasets/tp_zipcode_county_CA.csv that correspond to your desired county by going into the csv itself and using command f. If not, choose a nieghboring FIPS county that has a good amount of data.
#replace the float 6065.0 at the end with the desired FIPS FLOAT. Change tempprecip_COUNTY into your corresponding county
def filter_dataframe_by_value(df, column_name, value_to_find):
    filtered_rows = df[df[column_name] == value_to_find]
    return filtered_rows

if __name__ == "__main__":


    # Create a new DataFrame containing only rows with the specific value
    tempprecip_COUNTY = filter_dataframe_by_value(tempprecip_CA, 'county_fips', target_fips)

In [191]:
#Change firedata_COUNTY and tempprecip_COUNTY into your desired county
import pandas as pd
def merge_dataframes_on_match(df1, df2, df1_column1, df2_column1, df2_column_to_sum1, df2_column_to_sum2, df2_column_to_sum3, df2_column_to_sum4):
    for index1, row1 in df1.iterrows():
        for index2, row2 in df2.iterrows():
            if row1[df1_column1] >= row2[df2_column1]:
                df1.at[index1, 'tmax'] = row2[df2_column_to_sum1]
                df1.at[index1, 'tmin'] = row2[df2_column_to_sum2]
                df1.at[index1, 'tavg'] = row2[df2_column_to_sum3]
                df1.at[index1, 'prcp'] = row2[df2_column_to_sum4]

if __name__ == "__main__":


    merge_dataframes_on_match(firedata_COUNTY, tempprecip_COUNTY.sort_values("date"), 'DATE', 'date', 'tmax', 'tmin', 'tavg', 'prcp')

In [192]:
#initial wind csv
wind = pd.read_csv("Datasets/wind_with_fips.csv")

In [194]:
#Check to see if there are a good number of datapoints in "Wildfire/Datasets/wind_with_fips.csv" that correspond to your desired county by going into the csv itself and using command f. If not, choose a nieghboring FIPS county that has a good amount of data.
#change 6071 into your fips's corresponding INT. Change wind_COUNTY into your corresponding county
def filter_dataframe_by_value(df, column_name, value_to_find):
    filtered_rows = df[df[column_name] == value_to_find]
    return filtered_rows

if __name__ == "__main__":


    # Create a new DataFrame containing only rows with the specific value
    wind_COUNTY = filter_dataframe_by_value(wind, 'fips', target_fips_int)

In [195]:
#check to see that it's not empty (Change wind_COUNTY into your corresponding county), if it is, you need to choose a fips that has data
#If there is an additional column named "Unnamed: 0", run wind_COUNTY.drop("Unnamed: 0", axis=1, inplace=True)
wind_COUNTY.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       0 non-null      object
 1   latitude   0 non-null      float64
 2   longitude  0 non-null      float64
 3   wind_u     0 non-null      float64
 4   wind_v     0 non-null      float64
 5   aws        0 non-null      float64
 6   zipcode    0 non-null      int64
 7   county     0 non-null      object
 8   fips       0 non-null      int64
dtypes: float64(5), int64(2), object(2)
memory usage: 0.0+ bytes

In [196]:
#changes the date format into the correct format. Change wind_COUNTY into your corresponding county
def convert_datetime_to_int(df):
    for i in range(0, len(df)):
        df.iloc[i, 0] = int(datetime.strptime(df.iloc[i, 0], "%Y-%m-%d").strftime("%Y%m%d"))
    df["date"] = df["date"].astype(int)

if __name__ == "__main__":


    # Create a new DataFrame containing only rows with the specific value
    convert_datetime_to_int(wind_COUNTY)

In [197]:
#Change firedata_COUNTY and wind_COUNTY into your desired county
def merge_dataframes_on_match(df1, df2, df1_column1, df2_column1, df2_column_to_sum1):
    for index1, row1 in df1.iterrows():
        for index2, row2 in df2.iterrows():
            if row1[df1_column1] == row2[df2_column1]:
                df1.at[index1, 'aws'] = row2[df2_column_to_sum1]

if __name__ == "__main__":


    merge_dataframes_on_match(firedata_COUNTY, wind_COUNTY, 'DATE', 'date', 'aws')

In [198]:
#initial fuel moisture content csv
fmc = pd.read_csv("Datasets/fuel_with_fips.csv")

In [199]:
#Check to see if there are a good number of datapoints in "Wildfire/Datasets/fuel_with_fips.csv" that correspond to your desired county by going into the csv itself and using command f. If not, choose a nieghboring FIPS county that has a good amount of data.
#change 6065 into your fips's corresponding INT. Change fmc_COUNTY into your corresponding county
def filter_dataframe_by_value(df, column_name, value_to_find):
    filtered_rows = df[df[column_name] == value_to_find]
    return filtered_rows

if __name__ == "__main__":


    # Create a new DataFrame containing only rows with the specific value
    fmc_COUNTY = filter_dataframe_by_value(fmc, 'fips', target_fips_int)

In [200]:
#check to see that it's not empty (Change fmc_COUNTY into your corresponding county), if it is, you need to choose a fips that has data
#If there is an additional column named "Unnamed: 0", run fmc_COUNTY.drop("Unnamed: 0", axis=1, inplace=True)
fmc_COUNTY.info()
fmc_COUNTY.head()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  0 non-null      int64
 1   date        0 non-null      object
 2   percent     0 non-null      float64
 3   latitude    0 non-null      float64
 4   longitude   0 non-null      float64
 5   state       0 non-null      object
 6   zipcode     0 non-null      int64
 7   county      0 non-null      object
 8   fips        0 non-null      int64
dtypes: float64(3), int64(3), object(3)
memory usage: 0.0+ bytes

Empty DataFrame
Columns: [Unnamed: 0, date, percent, latitude, longitude, state, zipcode, county, fips]
Index: []

In [201]:
fmc_COUNTY.drop("Unnamed: 0", axis=1, inplace=True)

/var/folders/49/5ympyqjx7098rbtxzlhjcgx40000gn/T/ipykernel_13439/1220723206.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fmc_COUNTY.drop("Unnamed: 0", axis=1, inplace=True)

In [202]:
#changes the date format into the correct format. Change fmc_COUNTY into your corresponding county
def convert_datetime_to_int(df):
    for i in range(0, len(df)):
        df.iloc[i, 0] = int(datetime.strptime(df.iloc[i, 0], "%Y-%m-%d").strftime("%Y%m%d"))
    df["date"] = df["date"].astype(int)

if __name__ == "__main__":


    # Create a new DataFrame containing only rows with the specific value
    fmc_COUNTY.info()
    convert_datetime_to_int(fmc_COUNTY)

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       0 non-null      object
 1   percent    0 non-null      float64
 2   latitude   0 non-null      float64
 3   longitude  0 non-null      float64
 4   state      0 non-null      object
 5   zipcode    0 non-null      int64
 6   county     0 non-null      object
 7   fips       0 non-null      int64
dtypes: float64(3), int64(2), object(3)
memory usage: 0.0+ bytes

In [181]:
#Change firedata_COUNTY and fmc_COUNTY into your desired county
def merge_dataframes_on_match(df1, df2, df1_column1, df2_column1, df2_column_to_sum1):
    for index1, row1 in df1.iterrows():
        for index2, row2 in df2.iterrows():
            if row1[df1_column1] >= row2[df2_column1]:
                df1.at[index1, 'fmc'] = row2[df2_column_to_sum1]

if __name__ == "__main__":


    merge_dataframes_on_match(firedata_COUNTY, fmc_COUNTY.sort_values("date"), 'DATE', 'date', 'percent')

In [182]:
#replace "COUNTY" with actual county name and firedata_COUNTY with your dataframe
def save_csv(df, COUNTY):
    df.to_csv("Datasets/merged_tp_precip_wind_fmc_"+COUNTY+".csv")


if __name__ == "__main__":
   save_csv(firedata_COUNTY, target_county_name)